<h1><%= @movie.title %></h1>

<p>Genre: <%= @movie.genre %></p>
<p>Creation Year: <%= @movie.creation_year %></p>
<p>Cast: <% @movie.cast_sort.each do |actor| %></p>
  <%= actor.name %>
  <% end %>
<p>Average age of cast: <%= @movie.avg_actor_age %>

<%= form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |form| %>
<%= form.label :add_actor, "Add an Actor to this movie:" %>
<%= form.text_field :add_actor %>
<%= form.submit "Submit" %>
<% end %>
